export GO111MODULE=on
export WORKDIR=`pwd`
export SERVER_PRIVATE_KEY=698a9b472d634e05cb296c59b97d777623a37451c172e5b7eb1b96e46d9b7cc2
export ETH_NODE_ENDPOINT=http://127.0.0.1:9545
export SIMPLE_STORAGE_ADDRESS=`cat contracts/build/contracts/SimpleStorage.json | jq '.networks["4447"].address'`
export TX_RELAY_ADDRESS=`cat contracts/build/contracts/TxRelay.json | jq '.networks["4447"].address'`
